/*Start  Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}
/*End Global*/
/* ===== Navbar Style ===== */

/*Start Nav*/
.bg-navcolor {
  background-color: #E0E0E1;
}

/* CC Box */
.icon-box {
  background-color: #cce4ff;
  color: #004aad;
  border-radius: 10px;
  font-weight: 600;
  transform: translateY(-6px);
}

/* Logo colors */
.blue {
  color: #1d4ed8;
}

.purple {
  color: #a855f7;
}

 /* ===== Nav Link ===== */
.nav-link a {
   text-decoration: none;
    background-color:#360BF7;
    color: #fff;
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link a:hover {
  background-color: #280ab1;
} 
/*End Nav*/